

{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}

    {% load my_tags %}

    <style>

        .day-list {
            overflow-x: scroll;
        }

        .day-content {
            flex-wrap: nowrap;
        }

        .day-col td {
            padding: .2rem .2rem;
        }

        .day-col {
            min-width: 290px;
        }

    </style>
    {{ text }}

    {% for lesson in lessons %}
        {{ lesson.start_datetime }}
    {% endfor %}



    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <div class="row">


                        {% for lesson_name, time_price_list in time_price.items %}
                            {# имя дисциплины #}
                            {#                            <p>{{ lesson_name }}</p>#}
                            <button class="btn btn-primary" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.counter }}"
                                    aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}"
                                    aria-controls="collapse1 collapse2 collapse3">
                                {{ lesson_name }}
                            </button>

                            <div class="collapse multi-collapse {% if forloop.counter == 1 %}show{% endif %}"
                                 id="collapse{{ forloop.counter }}">
                                <div class="card card-body">
                                    {% for el in time_price_list %}
                                        <p>{{ el }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
            <div class="col-8">

                <div class="container day-list">
                    <div class="row day-content">
                        {% for el in n %}
                            <div class="day-col col-4 p-3">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" colspan="4">Чт</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" colspan="4">20 мая</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in time_range %}
                                        <tr>
                                            {% for j in n2 %}
                                                {% widthratio i 1 4 as idx %}
                                                {% widthratio j 1 15 as minutes %}
                                                {% with idx2=idx|add:j %}

                                                    <td>
                                                        <button type="button" class="btn {% if idx2 in p|get_item_by_idx:el  %}btn-secondary{% else %}btn-primary{% endif %} btn-sm">{{ i }}:
                                                            {% if j == 0 %}00{% else %}{{ minutes }}{% endif %}
{#                                                            {{ idx2 }}#}
                                                        </button>

                                                    </td>

                                                {% endwith %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

