

{% load my_tags %}

<style>

    .day-list {
        overflow-x: scroll;
    }

    .day-content {
        flex-wrap: nowrap;
    }

    .day-col td {
        padding: .2rem .2rem;
    }

    .day-col {
        min-width: 290px;
        max-width: 290px;
    }


</style>


<div class="container">
    <div class="row">

        <div class="col-12">

            <div class="container day-list">
                <div class="row day-content">
                    {% for el in load_days_range %}
                        <div class="day-col col-4 p-3" data-id="{{ el }}">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col"
                                        colspan="4">{{ week_days|get_item_by_idx:el }}</th>
                                </tr>
                                <tr>
                                    <th scope="col"
                                        colspan="4">{{ date_number|get_item_by_idx:el }} {{ month_number|get_item_by_idx:el }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in time_range %}
                                    <tr>
                                        {% for j in count_cell_in_row %}
                                            <td>
                                                <button data-id="{{ i|get_index_from_table:j }}"
                                                        type="button"
                                                        class="time-select btn {% if i|get_index_from_table:j in booked_times|get_item_by_idx:el %}btn-secondary{% else %}btn-primary{% endif %} btn-sm">
                                                    {% if i >= 10 %}
                                                        {{ i }}{% else %}0{{ i }}{% endif %}:
                                                    {% if j == 0 %}
                                                        00{% else %}
                                                        {{ j|get_minutes }}{% endif %}
                                                </button>

                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>





